html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.title-container {
    margin-top: 12em;
    width: 100%;
    text-align: center;
}

.title-container hgroup h1, .title-container hgroup h2 {
  font-family: 'Helvetica Neue';
  font-style: normal;
}

.title-container hgroup h1 {
  font-weight: 800;
  font-size: 4em;
  margin-bottom: 0;
}

.title-container hgroup h1 a {
  text-decoration: none;
  color: #000;
}

.title-container hgroup h1 a:hover {
  color: #ff00ff;
}

.title-container hgroup h2 {
  font-weight: 100;
  letter-spacing: 0.025em;
  font-size: 1.25em;
}

.search-container {
  width: 100%;
  text-align: center;
}

.search-bar {
  width: 25em;
  height: 2em;
  outline: none;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 100;
  font-size: 1.5em;
  padding-left: 0.5em;
}

.results-container {
    margin-top: 2em;
    width: 100%;
    text-align: center;
}

.results-container hgroup h1 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 800;
  font-size: 4em;
  margin-bottom: 0;
  padding: 0.25em;
}

.results-container .results-data {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 100;
  font-size: 3em;
}

.results-container .results-data .results-tf {
  font-weight: 800;
  margin-right: 1em;
}

.results-container .results-data .results-confidence{
  font-weight: 800;
}

.results-article {
  margin-top: 2em;
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 200;
  font-size: 1em;
  text-align: justify;
  line-height: 1.5em;
}

.true:hover {
  background-color: green;
  color: white;
}

.false:hover {
  background-color: red;
  color: white;
}

.results-return {
  padding-top: 2em;
  padding-bottom: 2em;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 200;
  font-size: 2em;
}

.results-return a {
  text-decoration: none;
  color: #000;
}

.results-return a:hover {
  color: #ff00ff;
}

.down-arrow {
  margin-top: 1em;
  width: 100%;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 200;
  font-size: 4em;
}


footer.home {
  position: absolute;
  height: 2em;
  width: 100%;
  bottom: 0%;
  text-align: center;
  background-color: #e9e9e9;
}

footer.search {
  height: 2em;
  width: 100%;
  text-align: center;
  background-color: #e9e9e9;
}

.footer-search {
  padding-top: 0.6em;
}

.footer-content {
  margin-top: 0.6em;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 200;
  font-size: 0.8em;
}

.footer-content a {
  color: #000;
  text-decoration: none;
}

.footer-content a:hover {
  color: #ff00ff;
}
